/* headerの部分 */
.main-title {
    text-align: center;
    padding: 45px;
    font-size: 40px;
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.881);
    font-family: 'Sawarabi Mincho', serif;
    font-weight: bold;
}

/* 共通css */
h2 {
    text-align: center;
    padding: 20px;
    background-color: rgb(223, 216, 0);
    color: rgba(0, 0, 0, 0.66);
    font-size: 80px;
    margin-bottom: 50px;
    
    
}

/* section1 */
#container-title {
    background-image: url(./img/shigaokinawa.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* padding: 28px;
    line-height: 1.5;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 2px 2px 5px 0px rgba(200, 200, 200, 1); */





/* タイプライター*/

#typewriter {
    font-size: 50px;
    opacity: 0.8;
    color: rgb(4, 4, 4);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#typewriter::after {
    content: "|";
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
#tyepwriter span {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(4, 4, 4);
    opacity: 0.75;
    font-size: 30px;
    margin: 0;
}


/* section3 */
.tab-list {
    display: flex;
    justify-content: space-around;
}

#okinawa {
    display: flex;
}

#shiga {
    display: flex;
}

.text{
  font-size: 15px;
}

.area {
    padding: 0 20px 0 0;
    color: white;
    background-color: red;
    border: solid 1px #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.tab-list li {
    padding: 10px;
    background-color: rgba(245, 1, 107, 0.922);
    border: solid 1px #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    
    font-size: 20px;
    height: 50px;
    width: 115px;
    
  
}

.tab-list li:hover {
    opacity: 0.8;
    cursor: pointer;
}

.container_tourist {
    width: 100%;
    height: 600px;
    position: relative;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
}

.box::after {
    content: '';
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#box1 {
    background-image: url(./img/box1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 160px;
    width: 1200px;
}

#box2 {
    background-image: url(./img/box2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 160px;
    width: 1200px;

}

#box3 {
    background-image: url(./img/box3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 160px;
    width: 1200px;
}

#box4 {
    background-image: url(./img/box4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 160px;
    width: 1200px;
}

#box5 {
    background-image: url(./img/box5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 160px;
    width: 1200px;
}

#box6 {
    background-image: url(./img/box6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 160px;
    width: 1200px;
}

.current {
    z-index: 1;
    opacity: 1;
}


/* ページトップに戻る */
#page-top {
    position: fixed;
    bottom: 120px;
    right: 30px;
    line-height: 1;
    z-index: 99;
}

#page-top a {
    background: rgb(245, 249, 2);
    font-size: 35px;
    width: 70px;
    padding: 20px 1px;
    text-align: center;
    display: block;
    border-radius: 99px;
    transition: all .1s ease;
}

#page-top a:hover {
    opacity: 0.5;
}

/* フッター */
footer {
    height: 80px;
    background: rgba(0, 0, 0, 0.92);
    position: relative;
    margin-top: 200px;
}

footer small {
    font-size: 15px;
    color: rgb(241, 241, 241);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}