/* headerの部分 */
.main-title {
    text-align: center;
    padding: 28px;
    font-size: 28px;
    color: rgba(3, 3, 3, 0.82);
    font-family: 'Sawarabi Mincho', serif;
    font-weight: bold;
}

/* 共通css */
h2{
  text-align: center;
  padding: 30px;
  background-color: aqua;
  margin-bottom: 50px;
}

/* section1 */
#container-title {
    background-image: url(./img/okinawa-shiga.jpeg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 28px;
    line-height: 1.5;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 2px 2px 5px 0px rgba(200, 200, 200, 1); */
    font-size: 30px;
    font-family: "Times New Roman";
    margin-bottom: 50px;
}

/* タイプライターjs */
#typewriter::after {
    content: "|";
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* タイプライターできない！!!!!!!!!!!!!!!!!!!*/

#tyepwriter span {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(4, 4, 4);
    opacity: 0.75;
    font-size: 30px;
    margin: 0;
}

/* 文字の点滅 */
/* #container span {
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.5s infinite;
    animation-direction: alternate;
} */

/* @keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
} */

/* section2 */
#tourist-content ul {
  margin-bottom: 50px;
}

.question,.answer{
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(64, 64, 102);
  color: white;
  border: solid 1px;
}

.question{
  position: relative;
  cursor: pointer;
}

.question::after,.question::before{
  content: '';
  display: block;
  background-color: white;
  position: absolute;
}

.question::after{
  width: 20px;
  height: 2px;
  right: 10px;
  top: 50%;
}

.question::before{
  width: 2px;
  height: 20px;
  right: 19px;
  top: 30%;
}

.question.on::before{
  display: none;
}

.answer{
  display: none;
  background-color: rgb(230, 160, 75);
}

/* section3 */
.tab-list{
  display: flex;
  justify-content: space-around;
}

#okinawa{
  display: flex;
}

#shiga{
  display: flex;
}

.area{
  padding: 0 20px 0 0;
  color: white;
  background-color: red;
  border: solid 1px #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.tab-list li{
  padding: 10px;
  background-color: violet;
  border: solid 1px #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.tab-list li:hover{
  opacity: 0.5;
  cursor: pointer;
}

.container{
  width: 100%;
  height: 600px;
  position: relative;
}

.box{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease;
}

.box::after{
  content: 'コンテンツ内容';
  position: absolute;
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#box1{
  background-color: turquoise;
}
#box2{
  background-color: rgb(150, 121, 204);
}
#box3{
  background-color: rgb(64, 224, 131);
}

.current{
  z-index: 1;
  opacity: 1;
}

/* footer */
footer {
    height: 70px;
    background: rgb(255, 255, 255);
    position: relative;
}

footer p {
    font-family: 'Kiwi Maru', serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 17px;
    color: rgb(4, 4, 4);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}